CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

Client/CMakeLists.txt
Client/CMakeCache.txt
Client/CMakeFiles
Client/CMakeScripts
Client/Testing
Client/Makefile
Client/cmake_install.cmake
Client/install_manifest.txt
Client/compile_commands.json
Client/CTestTestfile.cmake
Client/_deps

Client/cmake-build-debug

Server/CMakeLists.txt
Server/CMakeCache.txt
Server/CMakeFiles
Server/CMakeScripts
Server/Testing
Server/Makefile
Server/cmake_install.cmake
Server/install_manifest.txt
Server/compile_commands.json
Server/CTestTestfile.cmake
Server/_deps

Server/cmake-build-debug
